*{
    font-family: "Space Grotesk", sans-serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    position: absolute;
    z-index: 1;
    justify-content: center;
    width: 100%;
    margin-bottom: 0px;
}
.nav-item a{
    transition: 0.3s ease-in-out;
}   
.nav-item a:hover{
    color: #F4BD14 !important;

}
.signin{
    transition: .2s ease-in-out;
}
.signin:hover{
    background-color:#deaa0e;
    border-color: #deaa0e;
}
.signup{
    transition: .2s ease-in-out;
}
.signup:hover{
    background-color:#deaa0e;
    border-color: #deaa0e;
}

        .header-bg {
            background-color: rgba(135, 68, 39, 0.5);
            padding: 196px 0 150px 0;
            color: white;
            text-align: center;
        }
        .header-bg h1 {
            font-size: 60px;
            font-weight: 700;
        }
        .breadcrumb {
            font-size: 20px;
        }
        .section-title {
            font-weight: 800;
            color: #0B5C68;
            font-size: 66px;
            letter-spacing: -5px;
        }
        .service-step {
            padding: 90px 0;
        }
        .step-image {
            width: 380px;
            height: 280px;
        }
        .button-hover {
            background-color: #FFC527;
            transition: .3s ease-in-out;
            border: #FFC527;
        }
        .button-hover:hover {
            background-color:#deaa0e !important;
            border-color: #deaa0e;
}
        

footer {
    background-color: #0B5C68;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}